@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* colors */
:root 
{
    --my_black: #001b2a;
    --my_gray: #152134;
    --my_blue: #b2cede;
    --my_green: #04f17a;
    --my_white: #f5f3f5;
    --my_off_white: #e4dfe4;
    --my_soft_gray: #283345;
}

body 
{
    width: 80%;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 auto;
    background-color: var(--my_black);
}

#intro
{
    min-height: 25vh;
    width: auto;
    text-align: center;
    color: var(--my_green);
    background-color: var(--my_black);
    margin: 0;
    padding: 0;
}

#intro h1
{
    padding-top: 4%;
}

#typing-text
{
    padding-bottom: 8%;
}

#footer
{
    color: var(--my_black);
    background-color: var(--my_white);
    margin-top: 0.25%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 8%;
}


#copyright
{
    text-align: center;
    color: var(--my_soft_gray);
    background-color: var(--my_black);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0;
    margin-left: 0;
    padding: 2%;
}

#nav
{
    color: var(--my_white);
    background-color: var(--my_gray);
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

#nav a:link, #nav a:visited
{
    display: inline-block;
    color: var(--my_white);
    background-color: var(--my_gray);
    text-decoration: none;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
}

.main2
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    padding: 0;
}


.column1, .column2, .column3
{
    text-align: center;
    color: var(--my_black);
    background-color: var(--my_white);
    margin: 0;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 8%;
}

.column1 p, .column2 p, .column3 p
{
    text-align: left;
    line-height: 1.6em;
    margin-left: 5%;
    margin-right: 8%;
}

.about_text
{
    color: var(--my_black);
    background-color: var(--my_white);
    margin: 0;
    padding: 2%;
    padding-right: 8%;
}

.about_text a:link, a:visited
{
    color: var(--my_black);
}

#footer-nav
{
    display: flex;
    justify-content: left; 
}

#footer-nav a
{
    margin-right: 6%;
}

#footer-nav a:link, #footer a:visited
{
    color: inherit;
}

.about_picture
{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--my_black);
    background-color: var(--my_white);
    margin: 0;
    padding: 0;

}
.about_picture img
{
    width: 80%;
    height: 40%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

.column1 img
{
    width: 85%;
    height: auto;
    margin-bottom: 4%;
}

.column2 img
{
    width: 90%;
    height: auto;
    margin-bottom: 12%;
}

.column3 img
{
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}

/* for small screens */
@media (max-width: 768px) 
{
    body
    {
        width: 95%;
    }
    #footer-nav
    {
        display: block;
    }
    #footer-nav a
    {
        display: list-item;
        list-style-type: circle;
        margin-left: 4%;
    }
    .main, .main2
    {
        grid-template-columns: 1fr;
    }
    .about_text
    {
        padding-bottom: 8%;
    }
}

